body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	min-height: 600px;
}

pre {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px 15px 15px;
	box-sizing: border-box;
	background: #bdd2d9;
}

.nav {
	height: 36px;
	display: flex;
	justify-content: space-between;
}

.buttons {
	display: none;
}

.buttons.--active {
	display: flex;
}

.buttons-block {
	position: relative;
	margin-right: 20px;
}

.buttons-block:not(:last-child):after {
	content: "";
	position: absolute;
	width: 2px;
	height: 24px;
	top: 2px;
	right: -10px;
	background: #00000014;
}

.btn {
	padding: 2px 4px;
	text-transform: uppercase;
	font-weight: bold;
	background: #efe8ce;
	border-left: 4px solid white;
	border-top: 4px solid white;
	border-right: 4px solid #9e9d8b;
	border-bottom: 4px solid #9e9d8b;
	cursor: pointer;
	margin-right: 3px;
	color: #65645b;
	font-family: monospace;
}


.btn:active {
	transform: scale(93%);
}


.nav-end {
	text-transform: uppercase;
	font-family: monospace;
	font-size: 24px;
	color: #c49696;
	margin-right: 2px;
	position: relative;
	font-weight: bold;
	line-height: 33px;
}

.nav-end-front {
	position: absolute;
	top: -3px;
	right: -2px;
	color: #fff;
}





.content {
	display: flex;
	height: calc(100% - 36px);
}

.left {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.block {
	width: 100%;
	height: 100%;
	border: 1px solid #0000002e;
	background: white;
	border-radius: 10px;
	overflow: hidden;
	margin: 0;
	box-sizing: border-box;
	font-family: monospace;
}

.tabs {
	display: flex;
	overflow-x: auto;
	width: calc(100% - 20px);
	box-sizing: border-box;
	margin: 0 10px;
	margin-bottom: -1px;
}

.tab {
	padding: 5px 10px;
	font-family: monospace;
	background: #e6e6e6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-right: 4px;
	border-top: 1px solid #0000002e;
	border-left: 1px solid #0000002e;
	border-right: 1px solid #0000002e;
	cursor: pointer;
	white-space: nowrap;
	scrollbar-width: none;
	z-index: 100;
}

.tab-bf {
	background: #eae2ce;
}

.tabs::-webkit-scrollbar {
	display: none;
}

.tab.--active {
	position: relative;
	background: white;
	z-index: 200;
}

.tab-bf.--active {
	/*background: linear-gradient(0deg, #ffffff, #fff0c9);*/
	background: #fff6e1;
}

.tab-close {
	color: rgba(153, 51, 51, 0.89);
}

.tab-subtab {
	margin-left: -12px;
	z-index: 90;
}

.tab-plus-bf {
	margin-left: -25px;
}

.tab-plus-bf:hover {
	margin-left: -12px;
}





.cm-editor {
	height: 100%;
}

.cm-active-debug-line {
	background-color: rgb(255 200 0 / 55%) !important;
}

.cm-active-debug-char {
	background-color: #ff000024 !important;
}

.cm-compile-error {
	text-decoration: wavy underline red;
}


.right {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-left: 10px;
}

.console {
	width: 100%;
	height: 100%;
	padding: 15px 20px;
	box-sizing: border-box;
	background: black;
	color: #5fe85f;
	font-weight: bold;
	font-size: 1.05rem;
	display: flex;
	flex-direction: column;
}

.console-info {
	margin: 0 0 19.5px;
	display: flex;
	justify-content: space-between;
}

.console-status.--loading:after {
	content: "";
	animation: bounc 0.6s infinite;
}

.console-status.--warning {
	color: black;
	background: yellow;
}
.console-status.--error {
	color: black;
	background: red;
}
.console-commands {
	text-align: end;
}

@keyframes bounc {
	0% {
		content: "\\";
	}
	25% {
		content: "|";
	}
	50% {
		content: "/";
	}
	75% {
		content: "—";
	}
	100% {
		content: "\\";
	}
}


.console-container {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.console-container:focus {
	outline: none;
	border: none;
}

@keyframes blink {
	50% { opacity: 0; } /* Мерцание */
}

.console-container:focus:after {
	content: "_";
	animation: blink 1s infinite steps(1, start);
}
.console-container:not(:focus):after {
	content: "_";
	animation: none;
}

.console::selection {
	background-color: #5fe85f;
	color: black;
}

.right-top {
	display: flex;
	margin-bottom: 10px;
	height: 100%;
	overflow: hidden;
}

.console-input {
	margin-left: 10px;
	width: 50%;
	display: none;
}

.console-input.--active {
	display: block;
}

.console-input-textarea {
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 10px;
	overflow: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	padding: 15px 20px;
	box-sizing: border-box;
}



.tracing {
	width: 100%;
	height: 100%;
}

.tracing-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: stretch;
	overflow: auto;
}

.tracing-cell {
	display: flex;
}

.tracing-address {
	flex-grow: 1;
	background: rgba(255, 200, 0, 0.16);
	padding: 2px 2px 2px 5px;
	min-width: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.tracing-address-label {
	color: #0062c7;
	text-align: start;
	margin-right: 5px;
}

.tracing-address-value {
	color: rgba(0, 0, 0, 0.55);
	text-align: end;
}

.tracing-value {
	width: 24px;
	text-align: end;
	padding: 2px;
}

.tracing-value.--empty {
	color: #999;
}

.tracing-char {
	width: 10px;
	text-align: end;
	padding: 2px;
	color: rgb(150 1 1);
}

.tracing-cell.--active {
	background: #c12323;
}

.tracing-cell.--active .tracing-address {
	background: rgb(253 225 131 / 79%);
}
.tracing-cell.--active .tracing-char {
	color: #ffffff96;
}
.tracing-cell.--active .tracing-value {
	color: white;
}